<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Locais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <form [formGroup]="form">
      <p>Criar conta</p>
      <ion-item lines="none" class="name">
        <ion-input formControlName="name" type="text" placeholder="Nome">
        </ion-input>
        <ion-icon name="person"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="description">
        <ion-input formControlName="description" type="text" placeholder="Description">
        </ion-input>
        <ion-icon name="mail"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="latitude">
        <ion-input formControlName="latitude" type="text" placeholder="latitude">
        </ion-input>
        <ion-icon name="call"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="longitude">
        <ion-input formControlName="longitude" type="text" placeholder="longitude"></ion-input>
        <ion-icon name="lock-closed"></ion-icon>
      </ion-item>
      <div class="btn">
        <ion-button [disabled]="!form.valid" (click)="register()">Cadastrar</ion-button>
    </div>
    </form>
  </div>
</ion-content>
