<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button color="secondary">
        <ion-icon name="bicycle"></ion-icon>
            </ion-button>
    </ion-buttons>
    <ion-title color="secondary">Inicio</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding color="secondary">
  <ion-card *ngFor="let parking of _listParking" (click)="presentModal(parking.idPlace)">
    <div class="bg-div"> </div>
    <img src="../../assets/img/bg.jpg" />
    <div class="card-title">{{parking.name}}</div>
    <div class="info">
      {{parking.description}}
    </div>
  </ion-card>



</ion-content>